/*
# BEM (BLOCK, ELEMENT, MODIFIER) METHEDOLOGY
<div class="card card--show">
  <div class="card__title"></div>
  <div class="card__container">
  </div>
</div>
.card - BLOCK
.card__title - ELEMENT
.card--show - MODIFIER
*/


/* RESET styles */

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.no--select {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/* MAIN styles */

body {
  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  scroll-behavior: smooth;
}

a {
  color: blue;
}

header {
  width: 100%;
  height: 40px;
  background-color: white;
  overflow: hidden;
  color: #fff;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}

.header-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.header-logo {
  height: 35px;
  width: auto;
}

.header-right {
  margin-left: auto;
  margin-right: 1rem;
}

form {
  width: 100%;
}

.app__offline {
  background-color: #6b6b6b;
}

.header__btn {
  width: 48px;
  height: 48px;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
}

.header__title {
  color: #fff;
  font-size: 20px;
}

.app__outer {
  min-height: calc(100vh - 56px); /* do not consider header height */
}

.app__container {
  max-width: 1200px;
  min-height: 420px;
  width: 100%;
}

.toast__container {
  bottom: 20px;
  left: 20px;
  pointer-events: none;
}

.toast__msg {
  width: 250px;
  min-height: 50px;
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding-left: 15px;
  padding-right: 10px;
  word-break: break-all;
  -webkit-transition: opacity 3s cubic-bezier(0, 0, 0.30, 1) 0;
  -webkit-transition: opacity 0.30s cubic-bezier(0, 0, 0.30, 1) 0;
  transition: opacity 0.30s cubic-bezier(0, 0, 0.30, 1) 0;
  text-transform: initial;
  margin-bottom: 10px;
  border-radius: 2px;
}

.toast__msg--hide {
  opacity: 0;
}

.pointer {
  cursor: pointer;
}

.maintextinput {
    font-family: 'SF Compact Display' !important;
    font-weight: 700 !important;
    font-size: 32px !important;
    line-height: 38px !important;
    color: #DADDE4 !important;
}

/* ******** */

.homeText {
  padding: 20px;
}

.secondaryText {
  padding-top: 30px;
}

.searchbtn {
  margin-top: 30px !important;
  text-transform: none !important;
}

.orText {
  padding-top: 20px;
}

.secondaryInitialText, .headingInitialText {
  padding-bottom: 20px;
}

.initialText {
  padding-bottom: 40vh;
  padding-top: 10vh;
}

#pageScroll {
  padding-top: 15vh;
  margin-bottom: 15vh;
}

.boardTitle {
  padding-top: 100px;
}

.boardHeading {
  line-height: 27px !important;
  font-weight: 600 !important;
  /* padding-top: 20px; */
  /* padding-bottom: 20px; */
}

.boardTime {
  font-family: 'SF Compact Text' !important;
  font-weight: 300 !important;
  color: #555760 !important;
}

.boardText {
  font-weight: 400 !important;
  padding-top: 20px;
}

.communityCard {
  margin-top: 12px !important;
}

.boardTag {
  margin-right: 10px !important;
  margin-top: 20px !important;
  text-transform: none !important;
  display: inline-block !important;
}
.boardTagWrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.boardTagScroll {

  flex-wrap: nowrap;
  white-space: nowrap;
}

.greyBackground {
  background-color: #F2F3F6;
  min-width: 100vw;
  margin-left: -16px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 36px;
  padding-top: 6px;
  margin-top: 12px;
}

.downArrow {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10vh;
}

/* Login Page */
#signUpQ {
  margin-top: 12px;
}

.jNWhwd {
  color: #2344A5 !important;
  margin-left: 9px;
}

.MuiButton-root-97 {
  text-transform: none !important;
}

.MuiInputLabel-animated-57 {
  border: none !important;
  font-family: 'SF Compact Display' !important;
  font-weight: 700 !important;
  font-size: 32px !important;
  line-height: 38px !important;
  color: #DADDE4 !important;
}

.MuiInput-underline-71:after {
  border: none !important;
}

.MuiInput-underline-71:before {
  border: none !important;
}

.evyUks {
  margin-top: 48px;
}

.MuiFormControl-marginNormal-46 {
  margin-top: 24px !important;
}